/*
THIS FILE ***CANNOT*** CONTAINS COLORS. 
Colors go to w3-theme-XXXXXXX.css
*/



#page #pageSection{
	padding-bottom: 100px;
}

p{
	text-align: justify;
}

/*removes the ugly transitions*/
.w3-topnav a{-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none;}

table {
    width: auto;
}

input[type="text"]{
	border: 1px solid;
	border-radius: 5px;
	padding: 3px 5px;
	margin: 2px;
}

input[type="button"], input[type="reset"], input[type="submit"], button{
	border:none;
	padding: 2px 8px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important; /*w3-card-2*/
}

.w3-theme-error, .w3-theme-message{
	padding: 5px 0px;
	margin: 0px 30px;
}

.w3-theme-error ul, .w3-theme-message ul{
	padding: 0px 15px;
	list-style-type: none;
	margin:0
}

/*
THIS FILE ***CANNOT*** CONTAINS COLORS. 
Colors go to w3-theme-XXXXXXX.css
*/
