

.w3-theme        {color:#A0A0A0 !important;background-color:#607D8B !important}
.w3-theme-light  {color:#000000 !important;background-color:#ECEFF1 !important}
.w3-theme-dark   {color:#A0A0A0 !important;background-color:#263238 !important}
.w3-text-theme   {color:#A0A0A0 !important}
.w3-theme-l5     {color:#000000 !important;background-color:#ECEFF1 !important}
.w3-theme-l4     {color:#000000 !important;background-color:#CFD8DC !important}
.w3-theme-l3     {color:#000000 !important;background-color:#B0BEC5 !important}
.w3-theme-l2     {color:#000000 !important;background-color:#90A4AE !important}
.w3-theme-l1     {color:#A0A0A0 !important;background-color:#78909C !important}
.w3-theme-d1     {color:#A0A0A0 !important;background-color:#546E7A !important}
.w3-theme-d2     {color:#A0A0A0 !important;background-color:#455A64 !important}
.w3-theme-d3     {color:#A0A0A0 !important;background-color:#404040 !important}
.w3-theme-d4     {color:#A0A0A0 !important;background-color:#2A2A2A !important}
.w3-theme-action {color:#FFFFFF !important;background-color:#348D34 !important}

.w3-topnav a:hover, 
input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:hover{border-bottom:3px solid #8bc18d}

h1, h2, h3, h4, h5, h6 {color:#b8ae5b }

input[type="button"], input[type="reset"], input[type="submit"], button{
	color:#FFFFFF !important;background-color:#348D34 !important
}

.w3-theme-error {color:#dedede !important;background-color:#e44e43 !important }
.w3-theme-message { color: #f7f7f7 !important;background-color: #4CAF50 !important;}

.error, input[type="text"].error{border-color: #e44e43; }
